.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.sidebar-route {
  flex: 1;
  padding: '00px';
  width :70%;
  height: 40rem;
  border: 2px solid black
}
.sidebar {
  display: flex;
  background-color: #0084b4;
  border: 2px solid black;
  margin: 10px; 
}
